input[type="email"]::placeholder {  
                  
                /* Firefox, Chrome, Opera */ 
                text-align: center; 
            } 
input[type="password"]::placeholder {  
                  
                /* Firefox, Chrome, Opera */ 
                text-align: center; 
                letter-spacing: 5px;

            } 

input[type="text"]::placeholder {  
                  
                /* Firefox, Chrome, Opera */ 
                text-align: center; 
    letter-spacing: 5px;
            } 
input[type="tel"]::placeholder {  
                  
                /* Firefox, Chrome, Opera */ 
                text-align: left; 
            } 
input[type="email"]:-ms-input-placeholder { 
                  
                /* Internet Explorer 10-11 */ 
                text-align: center; 
            } 
input[type="email"]::-ms-input-placeholder {  
                  
                /* Microsoft Edge */ 
                text-align: center; 
            } 

body{
    margin:0;
    padding: 0;
    height:100vh;
    width:100%;
    
}

.login-wrapper{
    height:100%;
    width:100%;
    background: white;
    display: flex;
    margin: 0;
        
}
.login-container{
    flex:1;
    background: white;
    background: linear-gradient(117.86deg, #83B5E7 8.97%, rgba(27, 98, 183, 0.72) 41.77%, rgba(0, 59, 172, 0.69) 68.9%, rgba(13, 53, 131, 0.71) 89.28%);
    margin: 0;
}
.details-container{
    flex:1;

}
.admin-logo{
    height:22%;
    width:20%;
    background: url(.../);
    margin: 10%;
}

.login-form{
    width:70%;
    height:60%;
    margin:0% 15%;
    background: rgba(255,255,255,0.3);
  /*  background: none; */
    border-radius: 30px;
    box-shadow: 5px 5px 18px #111111;
    box-shadow: 1px 1px 77px px #111111;
/*    box-shadow: none; */


}

input[type=text] {
      
    background: white;
    border:none;
    outline: none;
    height:10%;
    width:60%;
    margin:1%  15% 0%;
    border-radius:100px;
}
input[type=password] {
        
    outline:none;
    background: white;
    outline: none;
    height:10%;
    width:60%;
    margin:3%  15% 0%;
    border-radius:100px;
    border: none;
   /* box-shadow: inset 0px 0px 10px 0.1px rgba(0,0,0,0.6);
*/
}


  input[type=submit] {
        
    cursor: pointer;
    outline:none;
    height:10%;
    width:35%;
    margin:3%  32.5% 3%;
    border-radius:100px;
    background: #4788C7;
      border:1px solid white;
      color:white;

}
  button[type=submit] {
        
    cursor: pointer;
    outline:none;
    height:10%;
    width:35%;
    margin:3%  32.5% 3%;
    border-radius:100px;
    background: #4788C7;
      border:1px solid white;
      color:white;

}

.login-text{
    margin:10% 0% 0 0;
    text-align: center;
    font-family: karla;
    letter-spacing: 2px;
    font-size: 30px;
        color:white;
}

.nav-login{
    height:10vh;
    width:100%;
    background:white;
    display: flex;
    display: none;
}


.logo-nav{
    background:url(makriicon_360.png);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    width:30%;
}

.app-title{
    flex:1;
}

.forget-pass{
    text-align: center;
    margin:1%;
    font-family: karla;
    font-size: 13px;
}
@media only screen and (max-width: 600px) {
.login-container{
    flex:1;
    background: white;
    background: linear-gradient(117.86deg, #83B5E7 8.97%, rgba(27, 98, 183, 0.72) 41.77%, rgba(0, 59, 172, 0.69) 68.9%, rgba(13, 53, 131, 0.71) 89.28%);
}
.details-container{
    flex:0;

}
    
.admin-logo{
    height:30%;
    width:30%;
    background: url(icons8-alien-100.png);
    background-size: cover;
    background-position: center;
    margin:0 35%;
    margin-bottom:5%;
    border-radius: 500px;
    }
    
    .break-logo{
        height:10%;
        width:100%;
        margin:0%;
    }    
    .login-form{
    width:80%;
    margin:10% 10%;
        height:70%

    }
    

input[type=text] {
padding:0 5%;
width:80%;
margin:3% 5% 0% 5%;
    height:10%;
    
}
    
input[type=password] {
padding:0 5%;
width:80%;
margin:3% 5% 0% 5%;
    height:10%;   
    

}


  input[type=submit] {
        
   

}
    
input[type=submit]:hover {
        
   background: #4068C1;
    border:1px solid #4788C1;

}


}