<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registeration</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfUtuQUAAAAAL8LUCzoODPkKD280eK2i0472Y7Z"></script>

</head>

<body>
<div class="login-wrapper">
    <div class="login-container">
        <div class="nav-login">
            <div class="logo-nav">
            </div>
            <div class="app-title">Makri App</div>
        </div>
        <div class="login-text">Register:</div>
        <form class="login-form" action="register" method="POST" id="registerform">
            <div class="break-logo">
                </div>
                <div class="admin-logo">
                </div>
           <!-- {% csrf_token %}-->
            <!-- <input type="text" name="first_name" placeholder="First Name"><br> -->
            <!-- <input type="text" name="last_name" placeholder="Last Name"><br> -->
            <input type="text" name="username" placeholder="Username" id="username"><br>
            <!-- <input type="email" name="email" placeholder="email"><br> -->
            <input type="password" name="password1" placeholder="Password" id="password1"><br>
            <input type="password" name="password2" placeholder="Confirm Password" id="password2"><br>
            <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">
            <button type="Submit" id="submitbtn"> submit </button>

        </form>
    </div>
    <div class="details-container">
            
    </div>
</div>        

    <div>
        <!-- {% for message in messages %}-->
        <h3> <!--{{message}}-->  </h3>
     <!--   {% endfor %}-->
    </div>

    
    <!-- <script>
        var delayInMilliseconds = 1000; //1 second

        setTimeout(function() {
        //your code to be executed after 1 second
        $('#username').val('11')
        $('#password1').val('11')
        $('#password2').val('11')
        $('#submitbtn').click()

        }, delayInMilliseconds);

        
    </script> -->

    <script>

        grecaptcha.ready(function() {

            $('#registerform').submit(function(e){
                var form = this;
                e.preventDefault()

                grecaptcha.execute('6LfUtuQUAAAAAL8LUCzoODPkKD280eK2i0472Y7Z', {action: 'registerform'}).then(function(token) {

                    $('#g-recaptcha-response').val(token)
                    console.log("token generated is: " + token)
                    console.log("g-recaptcha-response generated is: " + document.getElementById("g-recaptcha-response").value);
                    form.submit()
                });
            })
        });
    
    </script>

    

    
</body>
</html>

